<nb-card>
  <nb-card-body>
    <form id="loginConfigForm" class="form-horizontal" onSubmit="return false;">
      <div class="row">
        <label class="col-md-2 col-form-label text-right"><i class="font-red">*</i> 开启登录</label>
        <div class="form-group col-md-3">
          <nb-radio-group [(ngModel)]="loginConfig.openLogin" name="openLogin">
            <nb-radio class="float-left" value="true">是</nb-radio>
            <nb-radio class="float-left" value="false">否</nb-radio>
          </nb-radio-group>
        </div>
      </div>
      <div class="row vertical-center">
        <label class="col-md-2 col-form-label text-right"><i class="font-red">*</i> 登录错误次数</label>
        <div class="form-group col-md-10 vertical-center">
          <input type="text" autocomplete="off" class="form-control width-10p" [(ngModel)]="loginConfig.loginError" name="loginError"/>
          <span class="font-italic">&nbsp;&nbsp;<small>达到错误次数后显示验证码</small></span>
        </div>
      </div>
      <div class="row vertical-center">
        <label class="col-md-2 col-form-label text-right"><i class="font-red">*</i> 登录错误时间</label>
        <div class="form-group col-md-10 vertical-center">
          <input type="text" autocomplete="off" class="form-control width-10p" [(ngModel)]="loginConfig.loginErrorTimeOut" name="loginErrorTimeOut"/>
          <span class="font-italic">&nbsp;&nbsp;<small>(分钟)。超过时间重计次数</small></span>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label text-right"><i class="font-red">*</i> 邮件服务器</label>
        <div class="form-group col-md-10 vertical-center">
          <select class="form-control width-15p" [(ngModel)]="loginConfig.emailProvider.id" name="emailId">
            <option value="">选择邮件服务器</option>
            <option *ngFor="let item of emails" [value]="item.id">{{item.name}}</option>
          </select>&nbsp;&nbsp;
          <span class="font-italic">&nbsp;&nbsp;<small>用于找回密码时发送确认邮件</small></span>
        </div>
      </div>
      <div class="row vertical-center">
        <label class="col-md-2 col-form-label text-right"><i class="font-red">*</i> 找回密码标题</label>
        <div class="form-group col-md-10 vertical-center">
          <input type="text" autocomplete="off" class="form-control" [(ngModel)]="loginConfig.retrievePwdTitle" name="retrievePwdTitle"/>
        </div>
      </div>
      <div class="row vertical-center">
        <label class="col-md-2 col-form-label text-right"><i class="font-red">*</i> 找回密码内容</label>
        <div class="form-group col-md-10">
          <editor [(ngModel)]="loginConfig.retrievePwdText" name="retrievePwdText"
            [init]="{height:200,plugins: 'print preview fullpage lists advlist table textcolor fullscreen',toolbar: 'formatselect | bold italic forecolor backcolor permanentpen link | alignleft aligncenter alignright alignjustify | numlist bullist outdent indent'}"></editor>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="text-center">
      <button class="btn btn-success" (click)="saveLoginConfig()">确 认</button>
  </nb-card-footer>
</nb-card>

