<nb-card>
  <nb-card-header>
    系统管理员管理
  </nb-card-header>
  <nb-list>
    <nb-list-item>
      <form class="form-inline">
        <div class="form-group">
          <button class="btn btn-danger">
            <i class="nb-plus"></i> 新增
          </button>&nbsp;&nbsp;
          <select class="form-control">
            <option>所有状态</option>
            <option>已审核</option>
            <option>未审核</option>
            <option>禁用</option>
          </select>&nbsp;&nbsp;
          <label>用户名:&nbsp;&nbsp;</label>
          <input type="text" nbInput/>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button nbButton status="success">
            查询
          </button>&nbsp;&nbsp;
          <button nbButton status="warning">
            清空
          </button>
        </div>
      </form>
      <div class="margin-top-2p">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>ID</th>
            <th class="align-right">用户名</th>
            <th class="table-arr"></th>
            <th class="align-right">电子邮箱</th>
            <th class="table-arr"></th>
            <th class="align-right">最后登录时间</th>
            <th class="table-arr"></th>
            <th class="align-right">登录次数</th>
            <th class="table-arr"></th>
            <th class="align-right">状态</th>
            <th class="table-arr"></th>
            <th class="align-right">操作</th>
            <th class="table-arr"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]">
            <td class="nowrap">Google Chrome</td>
            <td class="align-right">10,392</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
          </tr>
          </tbody>
        </table>
      </div>
    </nb-list-item>
  </nb-list>
</nb-card>
