<table class="table">
  <thead>
  <tr>
    <th>时段</th>
    <th class="align-right">浏览量(PV)</th>
    <th class="table-arr"></th>
    <th class="align-right">独立访客(UV)</th>
    <th class="table-arr"></th>
    <th class="align-right">IP数</th>
    <th class="table-arr"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  <tr>
    <td class="nowrap">Google Chrome</td>
    <td class="align-right">10,392</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">3,822</td>
    <td class="table-arr"><i class="icon-up"></i></td>
    <td class="align-right">4,214</td>
    <td class="table-arr"><i class="icon-up"></i></td>
  </tr>
  </tbody>
</table>
