<nb-card>
  <nb-card-header>
    留言管理
  </nb-card-header>
  <nb-list>
    <nb-list-item>
      <form class="form-inline">
        <div class="form-group">
          <select class="form-control">
            <option>留言类型</option>
            <option>普通</option>
            <option>投诉</option>
          </select>&nbsp;&nbsp;
          <select class="form-control">
            <option>审核状态</option>
            <option>待审核</option>
            <option>审核通过</option>
            <option>审核不通过</option>
          </select>&nbsp;&nbsp;
          <select class="form-control">
            <option>是否推荐</option>
            <option>是</option>
            <option>否</option>
          </select>&nbsp;&nbsp;&nbsp;&nbsp;
          <button nbButton status="success">查询</button>&nbsp;&nbsp;
          <button nbButton status="warning">清空</button>
        </div>
      </form>
      <div class="margin-top-2p guestbook-item" *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]">
        <div class="row guestbook-title">
          <div class="col-md-4">
            <label role="checkbox" class="el-checkbox">
              <input type="checkbox">
            </label>&nbsp;&nbsp;
            <span>留言类型:&nbsp;</span>
            <span class="green-low">投诉</span>
          </div>
          <div class="col-md-6">
            邮箱:&nbsp;<span class="margin-right-2p">237488590@qq.com</span>&nbsp;
            电话:&nbsp;<span class="margin-right-2p">13800138000</span>&nbsp;
            QQ:&nbsp;<span class="margin-right-2p">237488590</span>&nbsp;
          </div>
          <div class="col-md-2">审核状态:等待审核</div>
        </div>
        <div class="row margin-top-5p">
            <div class="col-md-12">留言内容:卢卡斯九分零四克己复礼迪斯科飞机的数量</div>
        </div>
        <div class="row guestbook-op margin-top-5p">
          <div class="col-md-6">
            <div class="margin-top-2p">
              留言者:&nbsp;<span class="margin-right-2p">张三</span>
              留言时间:&nbsp;<span class="margin-right-2p">2019-01-01 11:22:11</span>
              IP:&nbsp;<span class="margin-right-2p">127.0.0.1</span>
            </div>
          </div>
          <div class="col-md-6">
            <button class="btn btn-outline-primary btn-xs">审核通过</button>&nbsp;
            <button class="btn btn-outline-primary btn-xs">审核不通过</button>&nbsp;
            <button class="btn btn-outline-primary btn-xs">修改评论</button>&nbsp;
            <button class="btn btn-outline-primary btn-xs">回复</button>&nbsp;
            <button class="btn btn-outline-primary btn-xs">推荐</button>&nbsp;
            <button class="btn btn-outline-primary btn-xs">删除</button>
          </div>
        </div>
      </div>
    </nb-list-item>
  </nb-list>
  <nb-card-footer class="text-center">
    <div class="row">
      <div class="col-md-5">
        <button class="btn btn-outline-info">审核通过</button>&nbsp;&nbsp;
        <button class="btn btn-outline-info">审核不通过</button>&nbsp;&nbsp;
        <button class="btn btn-outline-info">批量删除</button>&nbsp;&nbsp;
      </div>
      <div class="col-md-7">
        <ngb-pagination ngClass="ng2-smart-pagination" collectionSize="100" aria-label="Default pagination"></ngb-pagination>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
