<nb-card>
  <nb-card-header>
    内容类型管理
  </nb-card-header>
  <nb-list>
    <nb-list-item>
      <form class="form-inline">
        <div class="form-group">
          <button class="btn btn-danger">
            <i class="nb-plus"></i> 新增
          </button>
        </div>
      </form>
      <div class="margin-top-2p">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>名称</th>
            <th class="align-right">是否有图片</th>
            <th class="table-arr"></th>
            <th class="align-right">图片宽度</th>
            <th class="table-arr"></th>
            <th class="align-right">图片高度</th>
            <th class="table-arr"></th>
            <th class="align-right">状态</th>
            <th class="table-arr"></th>
            <th class="align-right">操作</th>
            <th class="table-arr"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]">
            <td class="nowrap">Google Chrome</td>
            <td class="align-right">是</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
          </tr>
          </tbody>
        </table>
      </div>
    </nb-list-item>
  </nb-list>
</nb-card>
