<img class="bgone" src="assets/images/login_bg.jpg"/>
<img class="pic" src="assets/images/login_pic.png"/>

<div class="table">
  <div class="wel">CMS系统后台登录</div>
  <div class="wel1"></div>
  <form (ngSubmit)="submit()">
    <div class="user">
      <div><img src="assets/images/login_user.png"/></div>
      <input type="text" #userName name="userName" placeholder="用户名" value="admin"/>
    </div>
    <div class="password">
      <div><img src="assets/images/login_pwd.png"/></div>
      <input type="password" #password name="password" placeholder="请输入密码" value="password"/>
    </div>
    <input class="btn" type="submit" name="登录" value="登录"/>
  </form>
  <ngx-loading-bar></ngx-loading-bar>
</div>
