<nb-card>
  <nb-card-header>
    修改密码
  </nb-card-header>
  <nb-card-body>
    <form class="form-horizontal">
      <div class="form-group row">
        <label for="inputOldPwd" class="col-sm-2 form-control-label">原密码</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputOldPwd" placeholder="请输原密码">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputNewPwd" class="col-sm-2 form-control-label">新密码</label>
        <div class="col-sm-5">
          <input type="password" class="form-control" id="inputNewPwd" placeholder="请输入新密码">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputNewPwd2" class="col-sm-2 form-control-label">重复新密码</label>
        <div class="col-sm-5">
          <input type="password" class="form-control" id="inputNewPwd2" placeholder="请重复输入新密码">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-3">
          <button class="btn btn-success">确 认</button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-info">取 消</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
