<nb-card>
  <nb-card-header>
    页面分析
  </nb-card-header>
  <nb-list>
    <nb-list-item>
      <form class="form-inline">
      <div class="form-group">
        <label>类型:&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <select class="form-control">
          <option>受访页面</option>
          <option>入口页面</option>
        </select>
      </div>
    </form>
      <div class="margin-top-5p">
      <table class="table">
        <thead>
        <tr>
          <th>搜索词</th>
          <th class="align-right">流量</th>
          <th class="table-arr"></th>
          <th class="align-right">占比</th>
          <th class="table-arr"></th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td class="nowrap">Google Chrome</td>
            <td class="align-right">10,392</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
          </tr>
          <tr>
            <td class="nowrap">Google Chrome</td>
            <td class="align-right">10,392</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
          </tr>
          <tr>
            <td class="nowrap">Google Chrome</td>
            <td class="align-right">10,392</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
          </tr>
          <tr>
            <td class="nowrap">Google Chrome</td>
            <td class="align-right">10,392</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
          </tr>
          <tr>
            <td class="nowrap">Google Chrome</td>
            <td class="align-right">10,392</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    </nb-list-item>
  </nb-list>
</nb-card>
