<nb-card>
  <nb-card-header>
    搜索词分析
  </nb-card-header>
  <nb-card-body class="main-container">
    <form class="form-inline">
      <div class="form-group">
        <label>日期:&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <div ngbRadioGroup class='btn-group btn-group-toggle btn-outline-toggle-group btn-toggle-radio-group'>
          <label class='btn btn-outline-primary' ngbButtonLabel>
            <input type='radio' ngbButton value='1'>今天
          </label>
          <label class='btn btn-outline-primary' ngbButtonLabel>
            <input type='radio' ngbButton value='2'>昨天
          </label>
          <label class='btn btn-outline-primary' ngbButtonLabel>
            <input type='radio' ngbButton value='3'>当月
          </label>
          <label class='btn btn-outline-primary' ngbButtonLabel>
            <input type='radio' ngbButton value='4'>今年
          </label>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-primary btn-icon">
              <i class="ion-ios-calendar-outline"></i>
            </button>
          </div>
          <input class="form-control" placeholder="选择日期" [nbDatepicker]="rangepicker">
          <nb-rangepicker #rangepicker format="yyyy-MM-dd"></nb-rangepicker>
        </div>
      </div>
    </form>
    <div class="margin-top-5p">
      <table class="table">
        <thead>
        <tr>
          <th>搜索词</th>
          <th class="align-right">流量</th>
          <th class="table-arr"></th>
          <th class="align-right">占比</th>
          <th class="table-arr"></th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td class="nowrap">Google Chrome</td>
            <td class="align-right">10,392</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
          </tr>
          <tr>
            <td class="nowrap">Google Chrome</td>
            <td class="align-right">10,392</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
          </tr>
          <tr>
            <td class="nowrap">Google Chrome</td>
            <td class="align-right">10,392</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
          </tr>
          <tr>
            <td class="nowrap">Google Chrome</td>
            <td class="align-right">10,392</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
          </tr>
          <tr>
            <td class="nowrap">Google Chrome</td>
            <td class="align-right">10,392</td>
            <td class="table-arr"><i class="icon-up"></i></td>
            <td class="align-right">3,822</td>
            <td class="table-arr"><i class="icon-up"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
