<nb-card>
  <nb-card-body>
    <form class="form-group">
      <div class="form-group row">
        <label class="col-md-2 col-form-label text-right">开启登录</label>
        <div class="col-md-3">
          <label class="custom-control custom-radio float-left">
            <input type="radio" class="custom-control-input" name="onWaterMark" checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">是</span>
          </label>
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="onWaterMark">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">否</span>
          </label>
        </div>
      </div>
      <div class="form-group row vertical-center">
        <label class="col-md-2 col-form-label text-right">登录错误次数</label>
        <div class="col-md-10 vertical-center">
          <input type="text" class="form-control width-10p"/>
          <span class="font-italic">&nbsp;&nbsp;<small>达到错误次数后显示验证码</small></span>
        </div>
      </div>
      <div class="form-group row vertical-center">
        <label class="col-md-2 col-form-label text-right">登录错误时间</label>
        <div class="col-md-10 vertical-center">
          <input type="text" class="form-control width-10p"/>
          <span class="font-italic">&nbsp;&nbsp;<small>(分钟)。超过时间重计次数</small></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label text-right">邮件服务器</label>
        <div class="col-md-10 vertical-center">
          <select class="form-control width-15p">
            <option>服务器1</option>
            <option>服务器2</option>
            <option>服务器3</option>
            <option>服务器4</option>
            <option>服务器5</option>
          </select>&nbsp;&nbsp;
          <span class="font-italic">&nbsp;&nbsp;<small>用于找回密码时发送确认邮件</small></span>
        </div>
      </div>
      <div class="form-group row vertical-center">
        <label class="col-md-2 col-form-label text-right">找回密码标题</label>
        <div class="col-md-10 vertical-center">
          <input type="text" class="form-control"/>
        </div>
      </div>
      <div class="form-group row vertical-center">
        <label class="col-md-2 col-form-label text-right">找回密码内容</label>
        <div class="col-md-10">
          <editor [init]="{height:200,plugins: 'print preview fullpage lists advlist table textcolor fullscreen',toolbar: 'formatselect | bold italic forecolor backcolor permanentpen link | alignleft aligncenter alignright alignjustify | numlist bullist outdent indent'}"></editor>
        </div>
      </div>
      <div class="form-group row margin-top-5p">
        <div class="offset-sm-3">
          <button class="btn btn-success">确 认</button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-info">取 消</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

